@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/footer';
@import 'blocks/modal';
*,
ul,
li,
address {
    font-family: 'Museo Sans Cyrl', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}